@import '../../scss/variables.scss';

.section {
    font-size: 0.8rem;
    .item {
        cursor: pointer;
        &:hover {
            color: $color-primary;
        }
    }
    .heading {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 15px;
    }
}