<h1 mat-dialog-title>
    {{ 'labels.changeLanguage' | translate }}
</h1>

<div mat-dialog-content class="border-top">
    <div class="mt-3">
        <h6 class="m-0">
            {{ 'labels.language' | translate }}
        </h6>
        <mat-select [value]="selectedLanguage" (selectionChange)="languageChanged($event)" class="border mt-3">
            <mat-option *ngFor="let language of languages" [value]="language.value">
                {{ language.display }}
            </mat-option>
        </mat-select>
    </div>
</div>

<div mat-dialog-actions class="mt-3">
    <button mat-raised-button color="primary" (click)="onDismiss()">
        {{ 'labels.back' | translate }}
    </button>
</div>