<div [ngClass]="isMobile ? 'p-2' : 'p-5'" *ngIf="poll?.questions">

    <div class="d-flex flex-column mb-2">
        <div class="w-75 mb-3" *ngIf="!isMobile">
            <h3>{{ 'labels.surveyStats' | translate }}</h3>
        </div>

        <div class="d-flex flex-column justify-content-end mb-5 text-right" *ngIf="!isMobile">
            <p *ngIf="responses.length">
                <span class="font-weight-bold">
                    {{ 'labels.responders' | translate }}:
                </span>
                {{responses.length}}
            </p>
        </div>

        <mat-card>
            <h4 class="m-0">
                {{poll.title}}
            </h4>
        </mat-card>
    </div>

    <div *ngFor="let question of poll?.questions; let i = index">

        <mat-card class="my-4" [class.p-0]="isMobile">
            <div [ngSwitch]="question.answerType" *ngIf="!isMobile; else mobileLayout">

                <ng-container *ngSwitchCase="constants.answerTypes.binary">
                    <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="constants.answerTypes.radioButton">
                    <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="constants.answerTypes.checkbox">
                    <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
                </ng-container>

                <div *ngSwitchCase="constants.answerTypes.rating">
                    <table class="table table-bordered" #fiveStar>
                        <thead>
                            <tr>
                                <th colspan="8">
                                    {{question.text}}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.rating' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th *ngFor="let option of getOptions(question)">{{ option }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td *ngFor="let option of getOptions(question)">{{ getTableValue(i, j, option) }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.dropdown">
                    <table class="table table-bordered" #dropdown>
                        <thead>
                            <tr>
                                <th colspan="14">
                                    {{question.text}}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.dropdown' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th *ngFor="let option of getOptions(question)">{{ option / 10 }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td *ngFor="let option of getOptions(question)">
                                    {{ getTableValue(i, j, option) }}
                                </td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.value">
                    <table class="table table-bordered" #dropdown>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    {{question.text}}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.value' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.slider">
                    <table class="table table-bordered" #slider>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    {{ question.text }}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.slider' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.yesNoMaybe">
                    <table class="table table-bordered" #yesNoMaybe>
                        <thead>
                            <tr>
                                <th colspan="6">
                                    {{ question.text }}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.yesNoMaybe' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'answers.no' | translate }}</th>
                                <th>{{ 'answers.maybe' | translate }}</th>
                                <th>{{ 'answers.yes' | translate }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td>{{ getTableValue(i, j, 0) }}</td>
                                <td>{{ getTableValue(i, j, 50) }}</td>
                                <td>{{ getTableValue(i, j, 100) }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.smiley">
                    <table class="table table-bordered" #smiley>
                        <thead>
                            <tr>
                                <th colspan="6">
                                    {{ question.text }}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.smiley' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>
                                    <i class="far fa-smile"></i>
                                </th>
                                <th>
                                    <i class="far fa-meh"></i>
                                </th>
                                <th>
                                    <i class="far fa-frown"></i>
                                </th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td *ngFor="let option of getOptions(question)">{{ getTableValue(i, j, option) }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.text">
                    <table class="table table-bordered" #text>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    {{ question.text }}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.text' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'labels.unfilled' | translate }}</th>
                                <th>{{ 'labels.filled' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td *ngFor="let option of getOptions(question)">{{ answerMap[i][j][option] || 0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngSwitchCase="constants.answerTypes.email">
                    <table class="table table-bordered" #text>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    {{ question.text }}
                                    <span class="float-right font-weight-light text-muted font-italic">
                                        {{ 'answerTypes.email' | translate }}
                                    </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'labels.unfilled' | translate }}</th>
                                <th>{{ 'labels.filled' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">{{ option }}</td>
                                <td *ngFor="let option of getOptions(question)">{{ answerMap[i][j][option] || 0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ng-template #radioCheckYesNo>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">
                                {{ question.text }}
                                <span class="float-right font-weight-light text-muted font-italic">
                                    {{ question.answerType === constants.answerTypes.binary ? 'Yes/No' :
                                        ( question.answerType === constants.answerTypes.radioButton ? 'Radiobutton' : 'Checkbox' ) }}
                                </span>
                                </th>
                            </tr>

                            <tr>
                                <th *ngIf="question.hasOptions">{{ 'labels.option' | translate }}</th>
                                <th>{{ 'labels.count' | translate }}</th>
                                <th>{{ 'labels.score' | translate }}</th>
                                <th class="result-column">{{ 'labels.result' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let option of question.options; let j = index">
                                <td *ngIf="question.hasOptions">
                                    <span>
                                        {{ option }}
                                    </span>
                                </td>
                                <td>{{ answerMap[i][j][100] || 0 }}</td>
                                <td>{{ answerMap[i][j]['response'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(answerMap[i][j]['response'])"  [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>

           <ng-template #mobileLayout>

            <div class="d-flex flex-column">
                <div class="p-3 border">
                        <span class="font-weight-bold">{{ question.text }}</span>
                        <span class="float-right font-weight-light text-muted font-italic">
                            {{ getAnswerTypeLabel(question) | translate }}
                        </span>
                </div>

                <div *ngFor="let option of question.options; let j = index">

                    <div class="d-flex flex-row justify-content-center w-100 border-top">
                        <div class="w-50 p-2 border-right border-left">
                            <span>
                                {{ option }}
                            </span>
                            <span class="float-right" *ngIf="canExpand(question)">
                                <i class="fas" (click)="toggleDetails(question, i, j)"
                                    [ngClass]="question.expanded && question.expanded[i][j] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                            </span>
                        </div>

                        <div class="w-50 d-flex flex-row">
                            <div class="p-2 score text-right" [class.border-right]="question.answerType !== constants.answerTypes.value">
                                {{ getResponseValue(i, j) }}
                            </div>
                            <div *ngIf="question.answerType !== constants.answerTypes.value" class="p-2 w-100 d-block">
                                <div class="progress">
                                    <div class="progress-bar" [style.backgroundColor]="getProgressBarColor(getResponseValue(i, j))" [style.width]="getResponseValue(i, j) + '%'"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="question.expanded && question.expanded[i][j]" class="expanded-row">
                        <div class="d-flex flex-row border" *ngFor="let key of getOptions(question)">
                            <div class="w-50 d-flex flex-row">
                                <div [ngSwitch]="question.answerType" class="p-2 option border-right text-left flex-grow-1 text-ellipsis">
                                    <ng-container *ngSwitchCase="constants.answerTypes.checkbox">
                                        <ng-container *ngTemplateOutlet="radioCheckBox"></ng-container>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="constants.answerTypes.radioButton">
                                        <ng-container *ngTemplateOutlet="radioCheckBox"></ng-container>
                                    </ng-container>

                                    <ng-template #radioCheckBox>
                                        <div [ngSwitch]="key">
                                            <div *ngSwitchCase="100" class="text-ellipsis">
                                                {{ getAnswerLabel(key, question.answerType) }}
                                            </div>

                                            <div *ngSwitchCase="0" class="text-ellipsis">
                                                {{ getAnswerLabel(key, question.answerType) }}
                                            </div>
                                        </div>
                                    </ng-template>

                                    <div *ngSwitchCase="constants.answerTypes.smiley">
                                        <div [ngSwitch]="key">
                                            <div *ngSwitchCase="0">
                                                <i class="far fa-frown"></i>
                                            </div>

                                            <div *ngSwitchCase="50">
                                                <i class="far fa-meh"></i>
                                            </div>

                                            <div *ngSwitchCase="100">
                                                <i class="far fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchDefault class="text-capitalize text-ellipsis">
                                        {{ getAnswerLabel(key, question.answerType) }}
                                    </div>
                                </div>
                                <div class="text-right p-2 border-right option-count">
                                    {{ getResponseCount(key, i, j) }}
                                </div>
                            </div>

                            <div class="w-50 d-flex flex-row">
                                <div class="p-2 border-right score text-right">{{ getResponsePercentage(key, i, j) }}</div>
                                <div class="d-block p-2 w-100">
                                    <div class="progress">
                                        <div class="progress-bar" [style.width]="getResponsePercentage(key, i, j) + '%'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </ng-template>
        </mat-card>
    </div>

    <div class="d-flex justify-content-center" *ngIf="!isMobile">
        <button mat-raised-button color="primary" (click)="onBackClicked()">
            {{ 'labels.back' | translate }}
        </button>
    </div>

</div>