<div *ngFor="let question of poll?.questions; let i = index" class="p-5">

    <mat-card>
        <div [ngSwitch]="question.answerType">

            <ng-container *ngSwitchCase="constants.answerTypes.binary">
                <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="constants.answerTypes.radioButton">
                <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="constants.answerTypes.checkbox">
                <ng-container *ngTemplateOutlet="radioCheckYesNo"></ng-container>
            </ng-container>

            <div *ngSwitchCase="constants.answerTypes.rating">
                <table class="table table-striped" #fiveStar>
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="8">{{question.text}}</th>
                        </tr>

                        <tr>
                            <th>Option</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>Score</th>
                            <th>Result</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let option of question.options; let j = index">
                            <th>{{ option }}</th>
                            <th>{{ getTableValueForStars(i, j, 1) }}</th>
                            <th>{{ getTableValueForStars(i, j, 2) }}</th>
                            <th>{{ getTableValueForStars(i, j, 3) }}</th>
                            <th>{{ getTableValueForStars(i, j, 4) }}</th>
                            <th>{{ getTableValueForStars(i, j, 5) }}</th>
                            <th>{{ answerMap[i][j]['response'] }}</th>
                            <th>
                                <app-star-rating
                                    [rating]="getStarCountFromResponse(answerMap[i][j]['response'])" [starCount]="5"
                                    [color]="red" (ratingUpdated)="onRatingChanged($event, i, j)" [disabled]="true"
                                    class="text-nowrap">
                                </app-star-rating>
                            </th>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div *ngSwitchCase="constants.answerTypes.slider">
                <table class="table table-striped" #slider>
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="3">{{ question.text }}</th>
                        </tr>

                        <tr>
                            <th>Option</th>
                            <th>Score</th>
                            <th>Result</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr *ngFor="let option of question.options; let j = index">
                            <th>{{ option }}</th>
                            <th>{{ answerMap[i][j]['response'] }}</th>
                            <th>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngSwitchCase="constants.answerTypes.yesNoMaybe">
                <table class="table table-striped" #yesNoMaybe>
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="3">Which car brand do you like (radiobutton: best)?</th>
                        </tr>

                        <tr>
                            <th>Option</th>
                            <th>No</th>
                            <th>Maybe</th>
                            <th>Yes</th>
                            <th>Score</th>
                            <th>Result</th>
                        </tr>

                    </thead>
                </table>
            </div>

            <ng-template #radioCheckYesNo>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="4">{{ question.text }}</th>
                        </tr>

                        <tr>
                            <th>Option</th>
                            <th>Count</th>
                            <th>Score</th>
                            <th>Result</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let option of question.options; let j = index">
                            <th>{{ option }}</th>
                            <th>{{ answerMap[i][j]['yes'] || answerMap[i][j]['true'] || 0 }}</th>
                            <th>{{ answerMap[i][j]['response'] }}</th>
                            <th>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width]="answerMap[i][j]['response'] + '%'"></div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </mat-card>

</div>

