<h1 mat-dialog-title>
    {{ 'labels.share' | translate }}
</h1>

<div mat-dialog-content class="border-top overflow-auto responsive-dialog-content">

    <div class="d-flex flex-column justify-content-center align-items-center my-3">
        <div class="border rounded w-100">
            <input
                matInput
                class="w-100 text-center p-1"
                [readonly]="true"
                [value]="url">
        </div>

        <span class="mt-2">
            {{ 'messages.surveySharingMessage' | translate }}
        </span>

        <div class="d-flex flex-row justify-content-{{ canShare ? 'between' : 'center'}} w-100">
            <button class="btn btn-primary mt-2" (click)="copyLink()">
                {{ 'labels.copyLink' | translate }}
            </button>

            <button class="btn btn-primary mt-2" (click)="shareLink()" *ngIf="canShare">
                {{ 'labels.shareLink' | translate }}
            </button>
        </div>
    </div>

    <div class="separator text-muted" *ngIf="qrUrl">{{ 'labels.or' | translate }}</div>

    <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="qrUrl">
        <img [src]="qrUrl" alt="">
        <div class="ml-2">
            <p class="m-0">
                {{ 'messages.scanTheQrCode' | translate}}
                {{ 'labels.or' | translate | lowercase }}
                <span class="text-primary cursor-pointer" (click)="download()">
                {{ 'labels.download' | translate | lowercase }}
                </span>
            </p>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onDismiss()">
        {{ 'labels.back' | translate }}
    </button>
</div>