<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary align-items-center" #navbar>

 <div [class.container]="!isMobile">
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="toggleSidebar()" class="mr-4" *ngIf="isMobile">
      <img src="../../assets/images/menu-24px.svg" alt="">
    </button>
    <span class="navbar-brand d-lg-none p-0">
      {{ currentPage.key | translate }}
      {{ currentPage.extra }}
    </span>
  </div>

  <div class="collapse navbar-collapse" id="navbarToggle">
    <a class="d-none d-lg-block item navbar-brand m-0" routerLink='/dashboard/all'>
      <mat-icon style="vertical-align: middle;">poll</mat-icon>
      <span class="ml-1" style="vertical-align: middle;">{{ 'labels.polling' | translate }}</span>
    </a>

    <div class="d-flex flex-inline item justify-content-end">
      <div>
        <a class="nav-link" routerLink='all' [routerLinkActive]="['active']">
          {{ 'labels.myPolls' | translate }}
        </a>
      </div>
      <div>
        <a class="nav-link" routerLink='create' [routerLinkActive]="['active']">
          {{ 'labels.createNewPoll' | translate }}
        </a>
      </div>
      <div class="d-flex align-items-center cursor-pointer" [matMenuTriggerFor]="menu">
        <div class="d-flex align-items-center justify-content-center nav-link" style="padding-left: 0.5rem;">
          <i class="fas fa-user-circle"></i>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <mat-menu #menu="matMenu">
          <div class="p-3">
            {{ 'labels.signedInAs' | translate }}
            <span class="font-weight-bold">{{ user.email }}</span>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="changePassword()">
            <i class="fas fa-key mr-2"></i>
            {{ 'labels.changePassword' | translate }}
          </button>
          <button mat-menu-item (click)="language()">
            <i class="fas fa-globe mr-2"></i>
            {{ 'labels.language' | translate }}
          </button>
          <button mat-menu-item (click)="about()">
            <i class="fas fa-info-circle mr-2"></i>
            {{ 'labels.about' | translate }}
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <i class="fas fa-sign-out-alt mr-2"></i>
            {{ 'labels.logout' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
 </div>
</nav>