.nav-link {
    padding: 0.5rem;
    color: hsla(0,0%,100%,.5);
    &.active {
        color: white !important;
    }
    &:hover{
        color: hsla(0,0%,100%,.5);
    }
}

.item {
    flex-basis: 100%;
}

.bars {
    font-size: 1.4em;
}