@import '../../../scss/variables.scss';

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.slider-box {
  min-width: 2.8rem;
}

#smiley {
  i {
    font-size: 1.8em;
  }
}

.invalid {
  border-color: #DC3545 !important;
}

.poll-inactive-card {
  max-width: 450px;
}

.question-number {
  background: $color-primary-very-light;
  color: $color-primary !important;
  min-width: 30px;
  padding: 3px;
}

.option-dropdown {
  width: 5.313rem;
}

.list-options-dropdown {
  width: 8.313rem;
}

.value-container {
  width: 8.125rem;
  input {
    padding: 0.801rem;
  }
}

.comments-card {
  padding: 1.25rem !important;
}

.mt-1p25 {
  margin-top: 1.25rem !important;
}

.question-text {
  font-size: 1.125rem;
}

.additional-text {
  font-size: 0.875rem;
  color: #808080;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.powered-by-text {
  opacity: 0.7;
  font-size: 14px;
}