<div [class.p-5]="!isMobile" *ngIf="!preview">

  <h3 *ngIf="!isMobile" class="mb-3">
    {{ 'labels.myPollsCount' | translate: { PC: polls.length } }}
  </h3>

  <div class="mat-elevation-z8 mat-table-container" [class.mt-3]="!isMobile" [class.desktop-table]="!isMobile">
    <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" matSort (matSortChange)="sortChanged($event)">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">
          {{ 'labels.title' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="text-ellipsis">
          <span class="text-ellipsis">
            {{poll.title}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef class="text-dark justify-content-center" mat-sort-header>
          {{ 'labels.created' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="justify-content-center text-ellipsis" [class.text-muted]="isMobile">
          {{getParsedDate(poll.createdAt)}}
          {{ (isMobile && poll.terminatedAt) ?
              ( translate.instant('labels.to') + ' ' + getParsedDate(poll.terminatedAt) )
               : ''
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="terminatedAt">
        <mat-header-cell *matHeaderCellDef class="text-dark justify-content-center" mat-sort-header [hidden]="isMobile">
          {{ 'labels.terminated' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="justify-content-center text-ellipsis" [hidden]="isMobile">
          {{ getParsedDate(poll.terminatedAt) || '-' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="privateNote">
        <mat-header-cell *matHeaderCellDef [hidden]="!isMobile">
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" [hidden]="!isMobile" [class.text-muted]="isMobile" class="text-ellipsis">
          {{poll.privateNote || '&nbsp;'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="responses">
        <mat-header-cell *matHeaderCellDef class="text-dark justify-content-center" mat-sort-header>
          {{ 'labels.responders' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="justify-content-center text-ellipsis" [class.text-muted]="isMobile">
          {{ poll.responses || 0 }}
          <span *ngIf="isMobile">
            {{ 'labels.responders' | translate | lowercase }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="text-dark justify-content-center" mat-sort-header>
          {{ 'labels.active' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="justify-content-center right-side-item item1">
          <i class="fas" [ngClass]="poll.status === constants.statusTypes.open ? 'fa-check text-success' : 'fa-times text-danger'">
          </i>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="text-dark justify-content-center">
          {{ 'labels.actions' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let poll" class="justify-content-center right-side-item item2">

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon *ngIf="isMobile">more_vert</mat-icon>
            <i class="cursor-pointer fas fa-ellipsis-h" *ngIf="!isMobile"></i>
          </button>

          <mat-menu #menu="matMenu" xPosition="before" backdropClass="{{ isMobile ? 'actions-menu-mobile' : 'actions-menu-desktop'}}">
            <button mat-menu-item (click)="deletePoll(poll._id)">
              <i class="fas fa-trash-alt text-danger mr-2"></i> {{ 'pollActions.delete' | translate }}
            </button>

            <button mat-menu-item (click)="terminatePoll(poll._id)" *ngIf="poll.status !== constants.statusTypes.terminated">
              <i class="fas fa-toggle-off text-warning mr-2"></i> {{ 'pollActions.terminate' | translate }}
            </button>

            <button mat-menu-item (click)="restorePoll(poll._id)" *ngIf="poll.status === constants.statusTypes.terminated">
              <i class="fas fa-toggle-on text-success mr-2"></i> {{ 'pollActions.restore' | translate }}
            </button>

            <button mat-menu-item (click)="viewStats(poll._id)" *ngIf="poll.responses">
              <i class="fas fa-chart-bar mr-2"></i> {{ 'pollActions.showStats' | translate }}
            </button>

            <button mat-menu-item (click)="downloadResponses(poll)" *ngIf="poll.responses">
              <i class="fas fa-download text-primary mr-2"></i> {{ 'pollActions.download' | translate }}
            </button>

            <button mat-menu-item (click)="togglePreview(poll)">
              <i class="fas fa-eye mr-2"></i> {{ 'pollActions.preview' | translate }}
            </button>

            <button mat-menu-item (click)="viewPollResponses(poll._id)" *ngIf="poll.responses">
              <i class="fas fa-users mr-2"></i> {{ 'pollActions.responseDetails' | translate }}
            </button>

            <button mat-menu-item (click)="managePoll(poll._id)">
              <i class="fas fa-edit text-primary mr-2"></i> {{ 'pollActions.edit' | translate }}
            </button>

            <button mat-menu-item (click)="duplicatePoll(poll._id)">
              <i class="fas fa-clone text-primary mr-2"></i> {{ 'pollActions.duplicate' | translate }}
            </button>

            <button mat-menu-item (click)="sharePoll(poll)">
              <i class="fas fa-share-alt text-success mr-2"></i> {{ 'pollActions.share' | translate }}
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons [hidden]="isMobile"></mat-paginator>
  </div>
</div>

<div *ngIf="preview">
  <app-view-poll [embeddedPreview]="false" [poll]="poll">
  </app-view-poll>

  <div class="text-center p-5" *ngIf="!isMobile">
    <button (click)="togglePreview()" class="btn btn-primary">
        {{ 'labels.back' | translate }}
    </button>
  </div>
</div>