<mat-sidenav-container>

    <mat-sidenav #snav fixedInViewport="true">
      <div class="w-100 px-3 d-flex justify-content-start align-items-center" style="font-size: 1.3rem; padding: 13px 0">
        <mat-icon style="vertical-align: middle;" class="mr-2">poll</mat-icon>
        <span style="vertical-align: middle;">{{ 'labels.polling' | translate }}</span>
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <a class="nav-link cursor-pointer" routerLink='dashboard/all' (click)="toggleSidebar()" [routerLinkActive]="['active']">
          <i class="fas fa-list mr-2"></i>
          {{ 'labels.myPolls' | translate }}
        </a>

        <a class="nav-link cursor-pointer" routerLink='dashboard/create' (click)="toggleSidebar()" [routerLinkActive]="['active']">
          <i class="fas fa-plus-circle mr-2"></i>
          {{ 'labels.create' | translate }}
        </a>

        <mat-divider></mat-divider>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && changePassword()">
          <i class="fas fa-key mr-2"></i>
          {{ 'labels.changePassword' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && language()">
          <i class="fas fa-globe mr-2"></i>
          {{ 'labels.language' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && about()">
          <i class="fas fa-info-circle mr-2"></i>
          {{ 'labels.about' | translate }}
        </a>

        <mat-divider></mat-divider>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && logout()">
          <i class="fas fa-sign-out-alt mr-2"></i>
          {{ 'labels.logout' | translate }}
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <div id="wrapper">
        <div class="d-flex w-100 h-100">
          <div class="flex-fill" id="content">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>