<mat-sidenav-container>

    <mat-sidenav #snav fixedInViewport="true">
      <div class="w-100 px-3 d-flex justify-content-start align-items-center" style="font-size: 1.3rem; padding: 12px 0">
        <img src="../../assets/images/logo_bs.svg" height="18px" class="mr-2">
        <span>{{ 'labels.appName' | translate }}</span>
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <a class="nav-link cursor-pointer" routerLink='dashboard/all' (click)="toggleSidebar()" [routerLinkActive]="['active']" matRipple>
          <i class="fas fa-list mr-2"></i>
          {{ 'labels.myPolls' | translate }}
        </a>

        <a class="nav-link cursor-pointer" routerLink='dashboard/create' (click)="toggleSidebar()" [routerLinkActive]="['active']" matRipple>
          <i class="fas fa-plus-circle mr-2"></i>
          {{ 'labels.createNewPoll' | translate }}
        </a>

        <mat-divider></mat-divider>

        <a class="nav-link cursor-pointer" routerLink='dashboard/settings' (click)="toggleSidebar()" [routerLinkActive]="['active']" matRipple>
          <i class="fas fa-cogs mr-2"></i>
          {{ 'labels.settings' | translate }}
        </a>

        <mat-divider></mat-divider>

        <!-- <a class="nav-link cursor-pointer" (click)="toggleSidebar() && changePassword()" matRipple>
          <i class="fas fa-key mr-2"></i>
          {{ 'labels.changePassword' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && language()" matRipple>
          <i class="fas fa-globe mr-2"></i>
          {{ 'labels.language' | translate }}
        </a> -->

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && about()" matRipple>
          <i class="fas fa-info-circle mr-2"></i>
          {{ 'labels.about' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && termsAndConditions()" matRipple>
          <i class="fas fa-info-circle mr-2"></i>
          {{ 'labels.termsAndConditions' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && cookiePolicy()" matRipple>
          <i class="fas fa-info-circle mr-2"></i>
          {{ 'labels.cookiePolicy' | translate }}
        </a>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && imprint()" matRipple>
          <i class="fas fa-info-circle mr-2"></i>
          {{ 'labels.imprint' | translate }}
        </a>

        <mat-divider></mat-divider>

        <a class="nav-link cursor-pointer" (click)="toggleSidebar() && logout()" matRipple>
          <i class="fas fa-sign-out-alt mr-2"></i>
          {{ 'labels.logout' | translate }}
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content (scroll)="onScroll($event)" [scrollTop]="scrollPosition">
      <div class="d-flex flex-column w-100 h-100">
        <div class="flex-fill" [class.hasMobileNav]="hasMobileNav" id="content">
          <router-outlet></router-outlet>
        </div>
        <app-footer [hidden]="!showFooter"></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>