<h1 mat-dialog-title>
    {{ 'labels.sortBy' | translate }}
</h1>

<div mat-dialog-content class="border-top py-3 px-2">
    <div *ngFor="let key of keys; let i = index" class="d-flex justify-content-between align-items-center p-2 mb-2">
        {{ getKeyLabel(key) }}
        <mat-button-toggle-group
            value="{{isSelected(key) && currentSort.start}}"
            (change)="onSortChanged(key, $event)">
            <mat-button-toggle value="asc">
                <i class="fas fa-sort-alpha-down" *ngIf="key === 'title'; else numericSortAsc"></i>
                <ng-template #numericSortAsc>
                    <i class="fas fa-sort-numeric-down"></i>
                </ng-template>
            </mat-button-toggle>
            <mat-button-toggle value="desc">
                <i class="fas fa-sort-alpha-up" *ngIf="key === 'title'; else numericSortDesc"></i>
                <ng-template #numericSortDesc>
                    <i class="fas fa-sort-numeric-up"></i>
                </ng-template>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onDismiss()">
        {{ 'labels.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="onConfirm()">
        {{ 'labels.done' | translate }}
    </button>
</div>