<h1 mat-dialog-title>
    {{ 'labels.about' | translate }}
</h1>

<div mat-dialog-content class="border-top overflow-auto responsive-dialog-content">

    <div class="text-center">
        <h4 class="mt-2">
            <img src="../../../assets/images/logo_bs.svg" height="18px" class="mr-2">
            <span class="ml-1" style="vertical-align: middle;">{{ 'labels.appName' | translate }}</span>
        </h4>

        <small>
            v {{ constants.version }} ({{ version.buildDate | uppercase }})
        </small>
    </div>

    <div class="mt-3">
        <h6 class="mb-1">
            {{ 'labels.languageFile' | translate }}
        </h6>
        <p>
            {{ 'metadata.isoLanguageName' | translate }},
            {{ 'metadata.twoletterCode' | translate }},
            {{ getLanguageDate() }}
        </p>
        <p class="text-justify" [innerHTML]="'globalMessages.aboutText' | translate">
        </p>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onDismiss()">
        {{ 'labels.back' | translate }}
    </button>
</div>