<h1 mat-dialog-title>
    {{ 'labels.changePassword' | translate }}
</h1>

<div mat-dialog-content class="border-top p-3">
    <form [formGroup]="changePasswordForm">

        <div class="form-group">

          <label>{{ 'labels.currentPassword' | translate }}</label>

          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="{{ 'placeholders.password' | translate }}" required>

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              {{ 'labels.currentPassword' | translate }}
              {{ 'labels.isRequired' | translate }}
            </div>
            <div *ngIf="f.password.errors.minlength">
              {{ 'messages.passwordRequirement' | translate }}
            </div>
            <div *ngIf="f.password.errors.currentPasswordNotCorrect">
                {{ 'messages.currentPasswordNotCorrect' | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">

            <label>{{ 'labels.newPassword' | translate }}</label>

            <input type="password" formControlName="newPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
              placeholder="{{ 'placeholders.password' | translate }}" required>

            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required">
                {{ 'labels.newPassword' | translate }}
                {{ 'labels.isRequired' | translate }}
              </div>
              <div *ngIf="f.newPassword.errors.minlength">
                {{ 'messages.passwordRequirement' | translate }}
              </div>
              <div *ngIf="f.newPassword.errors?.MatchPassword">
                {{ 'labels.passwordsDontMatch' | translate }}
              </div>
            </div>
        </div>

        <div class="form-group">

          <label>{{ 'labels.newPasswordConfirmation' | translate }}</label>

          <input type="password" formControlName="newPasswordConfirmation" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirmation.errors }"
            placeholder="{{ 'placeholders.password' | translate }}" required>

          <div *ngIf="submitted && f.newPasswordConfirmation.errors" class="invalid-feedback">
            <div *ngIf="f.newPasswordConfirmation.errors.required">
              {{ 'labels.newPasswordConfirmation' | translate }}
              {{ 'labels.isRequired' | translate }}
            </div>
            <div *ngIf="f.newPasswordConfirmation.errors.minlength">
                {{ 'messages.passwordRequirement' | translate }}
            </div>
            <div *ngIf="f.newPasswordConfirmation.errors?.MatchPassword">
                {{ 'labels.passwordsDontMatch' | translate }}
            </div>
          </div>
        </div>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onDismiss()">
        {{ 'labels.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="onChangePassword()">
        {{ 'labels.changePassword' | translate }}
    </button>
</div>