<h1 mat-dialog-title>
    {{ 'labels.importSurvey' | translate }}
  </h1>

  <div mat-dialog-content class="border-top">
    <div class="form-group mt-3">
        <mat-label>
          {{ 'labels.importText' | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label">
          <textarea
            matInput
            placeholder="{{ 'placeholders.importText' | translate }}"
            [(ngModel)]="importText"
            autocomplete="off"
            rows="7">
          </textarea>
        </mat-form-field>

        <div *ngIf="submitted && !importText" class="invalid-feedback d-flex">
            {{ "messages.importTextRequired" | translate }}
        </div>
    </div>
  </div>

  <div mat-dialog-actions id="confirmationDialogActions" class="mt-3">
      <button mat-button (click)="onDismiss()">
          {{ 'labels.cancel' | translate }}
      </button>
      <button mat-button (click)="import()" [disabled]="user.readonly">
          {{ 'labels.import' | translate }}
      </button>
  </div>