<h1 mat-dialog-title>
    {{ 'labels.importSurvey' | translate }}
  </h1>

  <div mat-dialog-content class="border-top overflow-hidden">
    <div class="d-flex justify-content-end">
      <button mat-icon-button (click)="showInstructions = !showInstructions" class="text-right">
        <i class="fas fa-question-circle text-{{ showInstructions ? 'primary' : 'muted'}}"></i>
      </button>
    </div>

    <div class="instructions overflow-auto p-1" [hidden]="!showInstructions">
      <p class="text-justify" [innerHTML]="'messages.importSurveyInstructions' | translate">
      </p>
    </div>

    <div [hidden]="showInstructions">
      <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label">
        <textarea
          matInput
          placeholder="{{ 'placeholders.importText' | translate }}"
          [(ngModel)]="importText"
          autocomplete="off"
          rows="7"
          cdkFocusInitial>
        </textarea>
      </mat-form-field>

      <div *ngIf="submitted && !importText" class="invalid-feedback d-flex">
          {{ "messages.importTextRequired" | translate }}
      </div>
    </div>
  </div>

  <div mat-dialog-actions id="confirmationDialogActions" class="mt-3">
      <button mat-button (click)="onDismiss()">
          {{ 'labels.cancel' | translate }}
      </button>
      <button mat-button (click)="import()" [disabled]="user.readonly">
          {{ 'labels.import' | translate }}
      </button>
  </div>