@import '../../../scss/variables.scss';

#mobileNavbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    i {
        color: $color-disabled;
        font-size: 1.4rem;
        &.active {
            color: $color-primary;
        }
    }
    span {
        font-size: 0.8rem;
    }

    .highlight {
        background-color: $color-primary-light;
    }
}
