<div class="alert alert-{{type}} alert-dismissible mat-elevation-z1 {{class}}"  *ngIf="!dismissed">
    <span *ngIf="messageKey; else showMessage">
        {{ messageKey | translate }}
    </span>

    <ng-template #showMessage>
        {{ message }}
    </ng-template>

    <div *ngIf="emailAlert">
        <p *ngIf="!signedUp; else notVerified" class="m-0">
            {{ 'messages.verificationLinkNotValid' | translate }}
        </p>

        <ng-template #notVerified>
            <p class="m-0">
                {{ 'messages.accountNotVerified' | translate }}
            </p>
        </ng-template>

        <p class="m-0 cursor-pointer" (click)="enableRegistrationVerification()">
            <u>{{ 'labels.requestNewVerificationEmail' | translate }}</u>
        </p>
    </div>

    <button type="button" class="close" (click)="dismiss()" *ngIf="dismissible">
        <span>&times;</span>
    </button>
</div>