<div class="alert alert-{{type}} alert-dismissible mat-elevation-z1 {{class}}"  *ngIf="!dismissed">
    <span *ngIf="messageKey; else showMessage">
        {{ messageKey | translate }}
    </span>

    <ng-template #showMessage>
        {{ message }}
    </ng-template>

    <span *ngIf="emailAlert">
        <span *ngIf="!signedUp; else notVerified">
            The verification link is not valid. Please click <span class="cursor-pointer" (click)="enableRegistrationVerification()"><u>here</u></span> to request a new link via e-email.
        </span>

        <ng-template #notVerified>
            <span>
                This account is not verified. Please check your email or click <span class="cursor-pointer" (click)="enableRegistrationVerification()"><u>here</u></span> to get a new link via email.
            </span>
        </ng-template>
    </span>

    <button type="button" class="close" (click)="dismiss()" *ngIf="dismissible">
        <span>&times;</span>
    </button>
</div>