<div class="p-5" *ngIf="poll?.questions">

    <div class="mb-3 d-flex justify-content-between">
        <h3>
            <span *ngIf="!preview">
                {{ (isEditing ? 'labels.managePoll' : 'labels.createPoll') | translate }}
                <span class="font-italic text-muted" *ngIf="shouldDisable">
                    ({{ 'labels.readOnly' | translate }})
                </span>
            </span>
        </h3>
        <div class="d-flex justify-content-end">
            <i class="fas mr-2 cursor-pointer" [ngClass]="!preview ? 'fa-eye' : 'fa-eye-slash'"
               (click)="preview = !preview"
               matTooltip="{{ preview ? translate.instant('tooltips.stopPreviewing')
                                      : translate.instant('pollActions.preview') }}"
               matTooltipPosition="above">
            </i>
        </div>
    </div>

    <div *ngIf="!preview">
        <div>
            <small *ngIf="poll.status === constants.statusTypes.terminated" class="mb-3">
                {{ 'messages.cannotEditPollTerminated' | translate }}
            </small>

            <small *ngIf="poll.status !== constants.statusTypes.terminated && responses && responses.length"
                   class="mb-3">
                {{ 'messages.cannotEditPollHasResponses' | translate }}
            </small>

            <div class="d-flex flex-column justify-content-end mb-5 text-right" *ngIf="isEditing">
                <p class="mb-1"><span class="font-weight-bold">
                    {{ 'labels.pollId' | translate }}: </span>{{poll.shortId || poll._id}}
                </p>
                <p *ngIf="responses.length">
                    <span class="font-weight-bold">
                        {{ 'labels.responders' | translate }}:
                    </span>
                    {{responses.length}}
                </p>
            </div>

            <mat-card>
                <mat-form-field appearance="outline" class="w-100 mb-3 mt-3">
                    <mat-label>{{ 'labels.title' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'placeholders.title' | translate }}"
                           [(ngModel)]="poll.title" [disabled]="shouldDisable">
                    <mat-hint *ngIf="!shouldDisable">{{ 'hints.pollTitle' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-3" *ngIf="!shouldDisable || poll.description">
                    <mat-label>{{ 'labels.description' | translate }}</mat-label>
                    <textarea matInput placeholder="{{ 'placeholders.description' | translate }}"
                              [(ngModel)]="poll.description" [disabled]="shouldDisable">
                    </textarea>
                    <mat-hint *ngIf="!shouldDisable">{{ 'hints.pollDescription' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>{{ 'labels.privateNote' | translate }}</mat-label>
                    <textarea matInput placeholder="{{ 'placeholders.privateNote' | translate }}"
                              [(ngModel)]="poll.privateNote">
                    </textarea>
                    <mat-hint>
                        {{ 'hints.privateNote' | translate }}
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>{{ 'labels.activeComment' | translate }}</mat-label>
                    <textarea matInput placeholder="{{ 'placeholders.activeComment' | translate }}"
                              [(ngModel)]="poll.activeComment">
                    </textarea>
                    <mat-hint>
                        {{ 'hints.activeComment' | translate }}
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>{{ 'labels.inactiveComment' | translate }}</mat-label>
                    <textarea matInput placeholder="{{ 'placeholders.inactiveComment' | translate }}"
                              [(ngModel)]="poll.inactiveComment">
                    </textarea>
                    <mat-hint>
                        {{ 'hints.inactiveComment' | translate }}
                    </mat-hint>
                </mat-form-field>

                <mat-checkbox class="mr-3" [(ngModel)]="poll.allowNames" [disabled]="shouldDisable">
                    {{ 'labels.allowNames' | translate }}
                </mat-checkbox>

                <mat-checkbox class="mr-3" [(ngModel)]="poll.allowComments" [disabled]="shouldDisable">
                    {{ 'labels.allowComments' | translate }}
                </mat-checkbox>

                <mat-checkbox (change)="togglePassword()" [disabled]="shouldDisable" [checked]="showPassword || poll.password">
                    {{ 'labels.passwordProtected' | translate }}
                </mat-checkbox>

                <mat-form-field appearance="outline" class="w-100 mb-2" *ngIf="showPassword || poll.password">
                    <mat-label>{{ 'labels.password' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'placeholders.pollPassword' | translate }}"
                           [disabled]="shouldDisable" [(ngModel)]="poll.password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-hint>{{ 'hints.typePollPassword' | translate }}</mat-hint>
                </mat-form-field>

            </mat-card>
        </div>

        <div class="d-flex justify-content-end my-4" *ngIf="!shouldDisable">
            <mat-slide-toggle (change)="toggleRearrangement()">
                {{ 'labels.rearrangeQuestions' | translate }}
            </mat-slide-toggle>
        </div>

        <div cdkDropList (cdkDropListDropped)="dropQuestion($event)" [class.mt-5]="shouldDisable">
            <mat-card *ngFor="let question of poll.questions; let i = index" class="border p-3 mb-1" cdkDrag
                [class.mb-5]="!rearrangeQuestions" [cdkDragDisabled]="!rearrangeQuestions"
                [class.border-danger]="valueFieldsInvalid(question) || (minimumOptionsRequired(question) && question.options.length < 2)">

                <div class="d-flex" *ngIf="rearrangeQuestions">
                    <input matInput disabled [value]="question.text || translate.instant('labels.noQuestionEntered')"
                           [class.font-italic]="!question.text">
                    <div class="example-handle" cdkDragHandle>
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>

                <div class="w-100 d-flex justify-content-end align-items-center" *ngIf="!rearrangeQuestions">
                    <mat-icon
                        class="mb-3 mr-2 cursor-pointer text-muted"
                        matTooltip="{{ getInfoTooltip(question) }}"
                        matTooltipPosition="above"
                        *ngIf="questionInfoRequired(question)">
                        info
                    </mat-icon>
                    <mat-form-field class="dropdown-container">
                        <mat-label>{{ 'labels.answers' | translate }}</mat-label>
                        <mat-select [(ngModel)]="question.answerType" [disabled]="shouldDisable">
                          <mat-option [value]="constants.answerTypes.binary">
                            {{ 'answerTypes.binary' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.rating">
                            {{ 'answerTypes.rating' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.checkbox">
                            {{ 'answerTypes.checkbox' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.radioButton">
                            {{ 'answerTypes.radioButton' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.yesNoMaybe">
                            {{ 'answerTypes.yesNoMaybe' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.slider">
                            {{ 'answerTypes.slider' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.smiley">
                            {{ 'answerTypes.smiley' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.text">
                            {{ 'answerTypes.text' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.dropdown">
                            {{ 'answerTypes.dropdown' | translate }}
                          </mat-option>
                          <mat-option [value]="constants.answerTypes.value">
                            {{ 'answerTypes.value' | translate }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-start mb-5"
                     *ngIf="question.answerType === constants.answerTypes.value">
                    <mat-form-field appearance="outline" class="mr-2 mb-2 dropdown-container">
                        <mat-label>{{ 'labels.decimalPlaces' | translate }}</mat-label>
                        <mat-select [(ngModel)]="question.decimalPlaces" [disabled]="shouldDisable">
                            <mat-option [value]="0">
                                0
                            </mat-option>
                            <mat-option [value]="1">
                                1
                            </mat-option>
                            <mat-option [value]="2">
                                2
                            </mat-option>
                            <mat-option [value]="3">
                                3
                            </mat-option>
                          </mat-select>
                        <mat-hint *ngIf="poll.status === constants.statusTypes.open">
                            {{ 'hints.decimalPlaces' | translate }}
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mr-2 mb-2">
                        <mat-label>{{ 'labels.minValue' | translate }}</mat-label>
                        <input matInput placeholder="1"
                               [(ngModel)]="question.minValue" [disabled]="shouldDisable"
                               type="text" pattern="^-?[0-9]*$" mask>
                        <mat-hint *ngIf="poll.status === constants.statusTypes.open">
                            {{ 'hints.minValue' | translate }}
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="mb-2">
                        <mat-label>{{ 'labels.maxValue' | translate }}</mat-label>
                        <input matInput placeholder="5"
                               [(ngModel)]="question.maxValue" [disabled]="shouldDisable"
                               type="text" pattern="^-?[0-9]*$" mask>
                        <mat-hint *ngIf="poll.status === constants.statusTypes.open">
                            {{ 'hints.maxValue' | translate }}
                        </mat-hint>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="w-100 mb-5" *ngIf="!rearrangeQuestions">
                    <mat-label>{{ 'labels.question' | translate }} {{i + 1}}</mat-label>
                    <input matInput placeholder="{{ 'placeholders.question' | translate }}"
                           [(ngModel)]="question.text" [disabled]="shouldDisable">
                    <mat-hint *ngIf="poll.status === constants.statusTypes.open">
                        {{ 'hints.typeQuestion' | translate }} {{i + 1}}
                    </mat-hint>
                </mat-form-field>

                <div class="d-flex justify-content-end mb-2"
                     *ngIf="question.options.length && !rearrangeQuestions && !shouldDisable">
                     <mat-slide-toggle (change)="question.rearrangeOptions = !question.rearrangeOptions">
                        {{ 'labels.rearrangeOptions' | translate }}
                    </mat-slide-toggle>
                </div>

                <div *ngIf="!rearrangeQuestions" cdkDropList (cdkDropListDropped)="dropOption($event, question)">
                    <div *ngFor="let option of question.options; let j = index; trackBy: trackByFn" cdkDrag
                         [cdkDragDisabled]="!question.rearrangeOptions">
                        <div class="d-flex align-items-center justify-content-between">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>
                                    {{ 'labels.question' | translate }}
                                    {{ i + 1 }}
                                    {{ 'labels.option' | translate | lowercase }}
                                    {{ j + 1 }}
                                </mat-label>
                                <input matInput placeholder="{{ 'placeholders.option' | translate }}"
                                       [(ngModel)]="question.options[j]" [disabled]="shouldDisable">
                            </mat-form-field>

                            <i class="fas fa-minus-circle text-danger pb-4 pl-2 cursor-pointer" (click)="removeOption(i,j)"
                                *ngIf="!question.rearrangeOptions && !shouldDisable"
                                matTooltip="{{ 'labels.removeOption' | translate }}" matTooltipPosition="above"></i>

                            <div class="example-handle ml-1 mb-4" cdkDragHandle *ngIf="question.rearrangeOptions">
                                <i class="fas fa-arrows-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!rearrangeQuestions && !shouldDisable" class="d-flex flex-column flex-sm-row justify-content-between">
                    <button class="btn btn-primary mb-1" (click)="addOption(i)">
                        {{ 'labels.add' | translate }}
                        {{ 'labels.option' | translate | lowercase }}
                    </button>
                    <button class="btn btn-danger mb-1" (click)="removeQuestion(i)">
                        {{ 'labels.remove' | translate }} {{ 'labels.question' | translate | lowercase }}
                    </button>
                </div>

            </mat-card>
        </div>

        <div class="mt-5">
            <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-info mb-5" (click)="addQuestion()" *ngIf="!shouldDisable">
                    {{ 'labels.addAnotherQuestion' | translate }}
                </button>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-danger mb-5 mr-2" type="submit" (click)="onCancelClicked()">
                    {{ 'labels.cancel' | translate }}
                </button>

                <button *ngIf="!isEditing" class="btn btn-success mb-5" type="submit" (click)="createPoll()"
                        [disabled]="!isValid">
                    {{ 'labels.create' | translate }}
                </button>

                <div *ngIf="isEditing" class="btn btn-success mb-5" (click)="isValid && dirty && updatePoll()"
                     [class.disabled]="!isValid || !dirty"
                     matTooltip="{{ !isValid ?
                                    'Please fill all the required fields' :
                                    (!dirty ? 'Change some fields to update the poll' : '' ) }}">
                    {{ 'labels.update' | translate }}
                </div>
            </div>
        </div>
    </div>

    <app-view-poll [poll]="poll" [embeddedPreview]="true" *ngIf="preview"></app-view-poll>
</div>
