<div [ngClass]="isMobile ? 'p-2' : 'p-5'" *ngIf="poll?.questions" id="managePoll">

    <div class="mb-3 d-flex justify-content-between" *ngIf="!isMobile">
        <h3>
            <span *ngIf="!preview">
                {{ (isEditing ? 'labels.manageSurvey' : 'labels.createNewSurvey') | translate }}
                <span class="font-italic text-muted" *ngIf="shouldDisable">
                    ({{ 'labels.readOnly' | translate }})
                </span>
            </span>
        </h3>
    </div>

    <div *ngIf="!preview">
        <div>
            <app-alert messageKey="messages.cannotEditSurveyHasResponses"
                       type="danger"
                       *ngIf="responses && responses.length"
                       class="mb-2">
            </app-alert>

            <div class="d-flex justify-content-end mb-5 text-right" *ngIf="isEditing && responses.length && !isMobile">
                <p>
                    <span class="font-weight-bold">
                        {{ 'labels.responders' | translate }}:
                    </span>
                    {{responses.length}}
                </p>
            </div>

            <div class="mat-elevation-z1 bg-white">
                <mat-card class="mat-elevation-z0 p-0 px-3 pt-3">
                    <div class="text-right">
                        <i class="fas fa-question-circle text-muted p-2 cursor-pointer"
                           (click)="showBasicHints = !showBasicHints"
                           [class.help-button-active]="showBasicHints">
                        </i>
                    </div>
                    <mat-form-field appearance="outline" class="w-100 mt-3 {{ showBasicHints ? '' : 'mat-field-no-margin' }}">
                        <mat-label>{{ 'labels.title' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'placeholders.title' | translate }}"
                               [(ngModel)]="poll.title" [disabled]="shouldDisable" autocomplete="off">
                        <mat-hint *ngIf="!shouldDisable && showBasicHints">{{ 'hints.surveyTitle' | translate }}</mat-hint>
                    </mat-form-field>
                </mat-card>
                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0 mat-ep-no-padding px-3" [class.pb-3]="!showBasicHints || mep.expanded" #mep>
                        <mat-expansion-panel-header
                            class="justify-content-center bg-white mt-2"
                            [class.py-3]="!showBasicHints"
                            [collapsedHeight]="'15px'"
                            [expandedHeight]="'15px'">
                        </mat-expansion-panel-header>

                        <div class="text-center text-muted bg-white cursor-pointer expansion-label mb-2"
                             *ngIf="showBasicHints"
                             (click)="mep.expanded = false">
                            <mat-hint>
                                {{ 'labels.collapse' | translate }}
                            </mat-hint>
                        </div>

                        <mat-form-field appearance="outline" class="w-100 mb-3" *ngIf="!shouldDisable || poll.description">
                            <mat-label>{{ 'labels.description' | translate }}</mat-label>
                            <textarea matInput placeholder="{{ 'placeholders.description' | translate }}"
                                    [(ngModel)]="poll.description" [disabled]="shouldDisable">
                            </textarea>
                            <mat-hint *ngIf="!shouldDisable && showBasicHints">
                                {{ 'hints.surveyDescription' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>{{ 'labels.activeComment' | translate }}</mat-label>
                            <textarea matInput placeholder="{{ 'placeholders.activeComment' | translate }}"
                                    [(ngModel)]="poll.activeComment">
                            </textarea>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.activeComment' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>{{ 'labels.inactiveComment' | translate }}</mat-label>
                            <textarea matInput placeholder="{{ 'placeholders.inactiveComment' | translate }}"
                                    [(ngModel)]="poll.inactiveComment">
                            </textarea>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.inactiveComment' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>{{ 'labels.privateNote' | translate }}</mat-label>
                            <textarea matInput placeholder="{{ 'placeholders.privateNote' | translate }}"
                                    [(ngModel)]="poll.privateNote">
                            </textarea>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.privateNote' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>{{ 'labels.thankYouTitle' | translate }}</mat-label>
                            <textarea matInput [(ngModel)]="poll.thankYouTitle">
                            </textarea>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.thankYouTitle' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>{{ 'labels.thankYouMessage' | translate }}</mat-label>
                            <textarea matInput [(ngModel)]="poll.thankYouMessage"></textarea>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.thankYouMessage' | translate }}
                            </mat-hint>
                        </mat-form-field>

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column align-items-start">
                                <mat-checkbox class="mr-3 checkbox-reduced-height" [(ngModel)]="poll.allowNames" [disabled]="shouldDisable">
                                    {{ 'labels.allowNames' | translate }}
                                </mat-checkbox>
                                <mat-hint class="ml-l"  *ngIf="showBasicHints">
                                    {{ 'hints.allowNames' | translate }}
                                </mat-hint>
                            </div>

                            <div class="d-flex flex-column align-items-start mt-1">
                                <mat-checkbox class="mr-3 checkbox-reduced-height" [(ngModel)]="poll.allowComments" [disabled]="shouldDisable">
                                    {{ 'labels.allowComments' | translate }}
                                </mat-checkbox>
                                <mat-hint class="ml-l"  *ngIf="showBasicHints">
                                    {{ 'hints.allowComments' | translate }}
                                </mat-hint>
                            </div>

                            <div class="d-flex flex-column align-items-start mt-1">
                                <mat-checkbox class="mr-3 checkbox-reduced-height" [(ngModel)]="poll.automaticNumbering" [disabled]="shouldDisable">
                                    {{ 'labels.automaticNumbering' | translate }}
                                </mat-checkbox>
                                <mat-hint class="ml-l"  *ngIf="showBasicHints">
                                    {{ 'hints.questionNumbering' | translate }}
                                </mat-hint>
                            </div>

                            <div class="d-flex flex-column align-items-start mt-1">
                                <mat-checkbox class="mr-3 checkbox-reduced-height" (change)="togglePassword()" [disabled]="shouldDisable" [checked]="showPassword || poll.password">
                                    {{ 'labels.passwordProtected' | translate }}
                                </mat-checkbox>
                                <mat-hint class="ml-l"  *ngIf="showBasicHints">
                                    {{ 'hints.passwordProtected' | translate }}
                                </mat-hint>
                            </div>
                        </div>
                        <mat-form-field appearance="outline" class="w-100 mt-2" *ngIf="showPassword || poll.password">
                            <mat-label>{{ 'labels.password' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'placeholders.surveyPassword' | translate }}"
                                [disabled]="shouldDisable" [(ngModel)]="poll.password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-hint *ngIf="showBasicHints">
                                {{ 'hints.typeSurveyPassword' | translate }}
                        </mat-hint>
                        </mat-form-field>
                    </mat-expansion-panel>
                    <div class="text-center text-muted bg-white cursor-pointer expansion-label pb-3"
                         *ngIf="showBasicHints && !mep.expanded"
                         (click)="mep.expanded = true">
                         <mat-hint>
                            {{ 'labels.expand' | translate }}
                        </mat-hint>
                    </div>
                </mat-accordion>
            </div>
        </div>

        <div class="d-flex justify-content-end my-4">
            <mat-slide-toggle (change)="toggleRearrangement()" *ngIf="(poll.questions.length > 1 || rearrangeQuestions) && !isMobile && !shouldDisable">
                {{ 'labels.rearrangeQuestions' | translate }}
            </mat-slide-toggle>
        </div>

        <div cdkDropList (cdkDropListDropped)="dropQuestion($event)" [class.mt-5]="shouldDisable">
            <mat-card *ngFor="let question of poll.questions; let i = index" class="border mb-1" cdkDrag
                      [cdkDragDisabled]="!rearrangeQuestions"
                      [ngClass]="{ 'p-0': rearrangeQuestions,
                                   'mb-5 p-3': !rearrangeQuestions,
                                   'border-danger': isQuestionInvalid(question)
                                }"

                      id="question{{i}}"
                >
                <div class="d-flex align-items-center p-3" *ngIf="rearrangeQuestions">
                    <i class="p-2 mr-3 fas fa-sort dragDiv" cdkDragHandle></i>
                    <p [class.font-italic]="!question.text" class="w-100 m-0 text-ellipsis">
                        {{
                            question.text || translate.instant('labels.noQuestionEntered')
                        }}
                    </p>
                    <i class="fas fa-minus-circle text-danger cursor-pointer p-2 ml-3"
                        (click)="removeQuestion(i)"></i>
                </div>

                <div class="d-flex flex-column" *ngIf="!rearrangeQuestions">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column align-items-start edit-mode-toggle">
                            <i class="fas fa-sort cursor-pointer"
                               [ngClass]="{
                                   'color-disabled': !question.options.length,
                                   'text-danger': question.editMode,
                                   'text-muted': question.options.length && !question.editMode
                                }"
                               (click)="toggleQuestionEditMode(question)"
                               *ngIf="!shouldDisable">
                            </i>
                            <mat-hint *ngIf="question.showHints">
                                {{ 'hints.arrangeOptions' | translate }}
                            </mat-hint>
                        </div>
                        <div class="d-flex justify-content-end align-items-center" [class.mb-3]="question.showHints">
                            <mat-form-field class="dropdown-container">
                                <mat-select [(ngModel)]="question.answerType" [disabled]="shouldDisable">
                                  <mat-option [value]="constants.answerTypes.radioButton">
                                    {{ 'answerTypes.radioButton' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.checkbox">
                                    {{ 'answerTypes.checkbox' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.binary">
                                    {{ 'answerTypes.binary' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.yesNoMaybe">
                                    {{ 'answerTypes.yesNoMaybe' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.smiley">
                                    {{ 'answerTypes.smiley' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.rating">
                                    {{ 'answerTypes.rating' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.dropdown">
                                    {{ 'answerTypes.dropdown' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.slider">
                                    {{ 'answerTypes.slider' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.value">
                                    {{ 'answerTypes.value' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.text">
                                    {{ 'answerTypes.text' | translate }}
                                  </mat-option>
                                  <mat-option [value]="constants.answerTypes.email">
                                    {{ 'answerTypes.email' | translate }}
                                  </mat-option>
                                </mat-select>
                                <mat-hint [hidden]="!question.showHints">
                                    {{ 'hints.answers' | translate }}
                                </mat-hint>
                            </mat-form-field>
                            <i class="ml-2 fas fa-question-circle text-{{ isQuestionInvalid(question) ? 'danger' : 'muted' }} cursor-pointer"
                                (click)="question.showHints = !question.showHints"
                                [class.help-button-active]="question.showHints">
                            </i>
                        </div>
                    </div>

                    <div>
                        <app-alert
                            *ngIf="isQuestionInvalid(question) && question.showHints && questionInfoRequired(question)"
                            [dismissible]="false"
                            type="danger"
                            [messageKey]="getInfoTooltipKey(question)"
                            class="mb-2">
                        </app-alert>

                        <div class="d-flex flex-column flex-md-row justify-content-start mb-1"
                            *ngIf="question.answerType === constants.answerTypes.value">
                            <mat-form-field appearance="outline" class="mr-2 mb-2 dropdown-container">
                                <mat-label>{{ 'labels.decimalPlaces' | translate }}</mat-label>
                                <mat-select [(ngModel)]="question.decimalPlaces" [disabled]="shouldDisable">
                                    <mat-option [value]="0">
                                        0
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="2">
                                        2
                                    </mat-option>
                                    <mat-option [value]="3">
                                        3
                                    </mat-option>
                                </mat-select>
                                <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                                    {{ 'hints.decimalPlaces' | translate }}
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="mr-2 mb-2">
                                <mat-label>{{ 'labels.minValue' | translate }}</mat-label>
                                <input matInput placeholder="1"
                                    [(ngModel)]="question.minValue" [disabled]="shouldDisable"
                                    type="text" pattern="^-?[0-9]*$" mask>
                                <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                                    {{ 'hints.minValue' | translate }}
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="mb-2">
                                <mat-label>{{ 'labels.maxValue' | translate }}</mat-label>
                                <input matInput placeholder="5"
                                    [(ngModel)]="question.maxValue" [disabled]="shouldDisable"
                                    type="text" pattern="^-?[0-9]*$" mask>
                                <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                                    {{ 'hints.maxValue' | translate }}
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div
                            class="d-flex flex-column align-items-start mb-2"
                            *ngIf="question.answerType === constants.answerTypes.checkbox || question.answerType === constants.answerTypes.radioButton">
                            <mat-checkbox
                                class="checkbox-reduced-height"
                                [(ngModel)]="question.allowOtherAnswer"
                                [disabled]="shouldDisable">
                                {{ 'labels.allowOtherAnswer' | translate }}
                            </mat-checkbox>
                            <mat-hint class="ml-l" *ngIf="question.showHints">
                                {{ 'hints.allowOtherAnswer' | translate }}
                            </mat-hint>
                        </div>

                        <div
                            class="d-flex flex-column align-items-start mb-2"
                            *ngIf="question.answerType === constants.answerTypes.radioButton">
                            <mat-checkbox
                                class="checkbox-reduced-height"
                                [(ngModel)]="question.radioToDropdown"
                                [disabled]="shouldDisable">
                                {{ 'labels.useDropdown' | translate }}
                            </mat-checkbox>
                            <mat-hint class="ml-l" *ngIf="question.showHints">
                                {{ 'hints.useDropdown' | translate }}
                            </mat-hint>
                        </div>

                        <div class="d-flex flex-column mb-2"
                            *ngIf="question.answerType === constants.answerTypes.checkbox && question.options.length > 1">

                            <div
                                class="d-flex flex-column align-items-start mb-2"
                                *ngIf="question.answerType === constants.answerTypes.checkbox || question.answerType === constants.answerTypes.radioButton">
                                <mat-checkbox
                                    class="checkbox-reduced-height"
                                    (change)="toggleLimit(question)"
                                    [disabled]="shouldDisable"
                                    [checked]="question.limits">
                                    {{ 'labels.limitChecks' | translate }}
                                </mat-checkbox>
                                <mat-hint class="ml-l" *ngIf="question.showHints">
                                    {{ 'hints.limitChecks' | translate }}
                                </mat-hint>
                            </div>

                            <div class="d-flex flex-column flex-md-row justify-content-start" *ngIf="question.limits">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'labels.minChecks' | translate }}</mat-label>
                                    <mat-select [(ngModel)]="question.limits.minChecks" [disabled]="shouldDisable">
                                        <mat-option *ngFor="let option of getMinimumChecksDropdownValues(question)" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="mx-1 d-none d-sm-block"></div>
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'labels.maxChecks' | translate }}</mat-label>
                                    <mat-select [(ngModel)]="question.limits.maxChecks" [disabled]="shouldDisable">
                                        <mat-option *ngFor="let option of getMaximumChecksDropdownValues(question)" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-between">
                    <mat-form-field appearance="outline" class="w-100 {{ question.showHints ? '' : 'mat-field-no-margin' }} mb-4" *ngIf="!rearrangeQuestions">
                        <mat-label>
                            {{ 'labels.questionNumber' | translate: { QN: i + 1} }}
                        </mat-label>
                        <input matInput placeholder="{{ 'placeholders.question' | translate }}"
                               [(ngModel)]="question.text" [disabled]="shouldDisable" autocomplete="off">
                        <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                            {{ 'hints.typeQuestion' | translate: { QN: i + 1} }}
                        </mat-hint>
                    </mat-form-field>

                    <div class="d-flex flex-column align-items-start mb-2 w-100" *ngIf="!rearrangeQuestions">
                        <mat-checkbox
                            class="mr-3 checkbox-reduced-height"
                            (change)="toggleAdditionalText(question)"
                            [disabled]="shouldDisable"
                            [checked]="keyIn('additionalText', question)">
                            {{ 'labels.additionalText' | translate }}
                        </mat-checkbox>
                        <mat-hint class="ml-l" *ngIf="question.showHints">
                            {{ 'hints.additionalText' | translate }}
                        </mat-hint>
                    </div>

                    <mat-form-field
                        appearance="outline"
                        class="w-100 {{ question.showHints ? '' : 'mat-field-no-margin' }}"
                        *ngIf="!rearrangeQuestions && keyIn('additionalText', question)">
                        <mat-label>
                            {{ 'labels.additionalText' | translate }}
                        </mat-label>
                        <textarea
                            matInput
                            [(ngModel)]="question.additionalText"
                            [disabled]="shouldDisable"
                            autocomplete="off">
                        </textarea>
                        <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                            {{ 'hints.additionalText' | translate: { QN: i + 1} }}
                        </mat-hint>
                    </mat-form-field>
                </div>


                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0 p-0 mat-ep-no-padding" #optionsPanel [expanded]="!question.collapsed">
                        <mat-expansion-panel-header
                            *ngIf="!rearrangeQuestions"
                            class="justify-content-center bg-white mt-2"
                            [class.py-3]="!question.showHints"
                            [collapsedHeight]="'15px'"
                            [expandedHeight]="'15px'"
                            (click)="question.collapsed = !question.collapsed">
                        </mat-expansion-panel-header>

                        <div class="text-center text-muted bg-white cursor-pointer expansion-label mb-2"
                             *ngIf="!rearrangeQuestions && question.showHints"
                             (click)="question.collapsed = true">
                            <mat-hint>
                                {{ 'labels.collapse' | translate }}
                            </mat-hint>
                        </div>

                        <div *ngIf="!rearrangeQuestions" cdkDropList (cdkDropListDropped)="dropOption($event, question)">
                            <div *ngFor="let option of question.options; let j = index; trackBy: trackByFn" cdkDrag
                                 [cdkDragDisabled]="!question.editMode || shouldDisable || question.options.length <= 1">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="mr-2 dragDiv" [class.mb-3]="question.showHints"
                                         cdkDragHandle *ngIf="question.editMode && question.options.length > 1 && !shouldDisable">
                                        <i class="fas fa-sort"></i>
                                    </div>
                                    <mat-form-field appearance="outline" class="w-100 {{ question.showHints ? '' : 'mat-field-no-margin' }}">
                                        <mat-label>
                                            {{ 'labels.questionNumber' | translate: { QN: i + 1} }}
                                            {{ 'labels.optionNumber' | translate: { OPN: j + 1 } }}
                                        </mat-label>
                                        <input matInput placeholder="{{ 'placeholders.option' | translate }}"
                                               [(ngModel)]="question.options[j]" [disabled]="shouldDisable"
                                               autocomplete="off">
                                        <mat-hint *ngIf="poll.status === constants.statusTypes.open && question.showHints">
                                            {{ 'hints.typeOption' | translate: { OPN: j + 1 } }}
                                        </mat-hint>
                                    </mat-form-field>

                                    <i class="fas fa-minus-circle text-danger cursor-pointer ml-2" (click)="removeOption(question,j)"
                                        *ngIf="question.editMode && !shouldDisable"
                                        matTooltip="{{ 'labels.removeOption' | translate }}" matTooltipPosition="above"
                                        [class.mb-3]="question.showHints">
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!rearrangeQuestions && !shouldDisable" class="d-flex flex-column align-items-center">
                            <div>
                                <i class="fas fa-plus-circle text-primary cursor-pointer add-option-button-mobile"
                                    (click)="addOption(question)" *ngIf="isMobile; else desktopButton"></i>
                                <ng-template #desktopButton>
                                    <button mat-raised-button color="primary" [class.mb-1]="question.showHints" (click)="addOption(question)">
                                        {{ getAddOptionLabel(question) | translate }}
                                    </button>
                                </ng-template>
                            </div>
                            <div *ngIf="question.showHints" class="d-flex align-items-start">
                                <mat-hint>{{ 'hints.addOption' | translate }}</mat-hint>
                            </div>
                        </div>

                    </mat-expansion-panel>

                    <div class="text-center text-muted bg-white cursor-pointer expansion-label"
                         *ngIf="!rearrangeQuestions && question.collapsed && question.showHints"
                         (click)="question.collapsed = false">
                        <mat-hint>
                            {{ 'labels.expand' | translate }}
                        </mat-hint>
                    </div>
                </mat-accordion>
            </mat-card>
        </div>

        <div class="mt-5" [hidden]="isMobile">
            <div class="d-flex flex-row justify-content-center">
                <button mat-raised-button color="primary" class="mb-5" (click)="addQuestion()" *ngIf="!shouldDisable">
                    {{ 'labels.addQuestionDesktop' | translate }}
                </button>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <button mat-raised-button color="danger" class="mb-5 mr-2" type="submit" (click)="onCancelClicked()">
                    {{ 'labels.cancel' | translate }}
                </button>

                <button *ngIf="!isEditing" mat-raised-button color="success" class="mb-5" type="submit" (click)="createPoll()"
                        [disabled]="!isValid">
                    {{ 'labels.create' | translate }}
                </button>

                <button
                    *ngIf="isEditing"
                    mat-raised-button
                    color="success"
                    class="mb-5"
                    (click)="updatePoll()"
                    [disabled]="!isValid || !dirty">
                    {{ 'labels.update' | translate }}
                </button>
            </div>
        </div>
    </div>

    <app-view-poll [poll]="poll" [embeddedPreview]="true" *ngIf="preview"></app-view-poll>

    <div class="mr-4 preview-fab-container" *ngIf="!isMobile && !rearrangeQuestions"
         [style.bottom]="getFabPosition()">
        <button mat-fab color="primary"
                (click)="togglePreview()"
                matTooltip="{{ preview ? translate.instant('tooltips.stopPreviewing')
                                       : translate.instant('surveyActions.preview') }}"
                matTooltipPosition="above">
            <mat-icon>
                {{ !preview ? 'visibility' : 'visibility_off' }}
            </mat-icon>
        </button>
    </div>
</div>
