<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">

        <div class="card-img-left d-none d-md-flex flex-column align-items-center justify-content-center">
          <mat-icon style="font-size: 5.5rem; height: 15%;" class="w-100 text-center">poll</mat-icon>
          <h4>
            {{ 'labels.polling' | translate }}
          </h4>
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">
            {{ 'labels.register' | translate }}
          </h5>

          <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <div class="form-group">

              <label>{{ 'labels.emailAddress' | translate }}</label>

              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                placeholder="{{ 'placeholders.email' | translate }}" required>

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                  {{ 'labels.emailAddress' | translate }}
                  {{ 'labels.isRequired' | translate }}
                </div>
                <div *ngIf="f.email.errors.email">{{ 'messages.emailNotValid' | translate }}</div>
              </div>

            </div>

            <div class="form-group">

              <label>{{ 'labels.password' | translate }}</label>

              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                placeholder="{{ 'placeholders.password' | translate }}" required>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                  {{ 'labels.password' | translate }}
                  {{ 'labels.isRequired' | translate }}
                </div>
                <div *ngIf="f.password.errors.minlength">
                  {{ 'messages.passwordRequirement' | translate }}
                </div>
              </div>

            </div>

            <div class="form-group">

              <label>{{ 'labels.confirmPassword' | translate }}</label>

              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                placeholder="{{ 'placeholders.password' | translate }}" required>

              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">
                  {{ 'labels.confirmPassword' | translate }}
                  {{ 'labels.isRequired' | translate }}
                </div>
              </div>

              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors?.MatchPassword">
                    {{ 'labels.passwordsDontMatch' | translate }}
                  </div>
              </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
              {{ 'labels.register' | translate }}
            </button>

            <a class="d-block text-center mt-5 small" [routerLink]="[ '/login' ]">
              {{ 'labels.alreadyRegistered' | translate }}
            </a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>