<div class="h-100" [ngClass]="!embeddedPreview && (isMobile ? 'p-2' : 'p-5')" *ngIf="poll?.questions">

  <ng-container *ngIf="!isViewingResponseOfUser">
    <app-alert
      *ngIf="hasGlobalMessage('responderWarning')"
      messageKey="globalMessages.responderWarning"
      type="danger"
      class="mb-3">
    </app-alert>

    <app-alert
      *ngIf="hasGlobalMessage('responderHint')"
      messageKey="globalMessages.responderHint"
      type="info"
      class="mb-3">
    </app-alert>

    <app-alert
      [message]="getRespondedMessage()"
      type="info"
      *ngIf="hasResponded"
      class="mb-3">
    </app-alert>

    <app-alert
      messageKey="{{ poll.status === constants.statusTypes.deleted ? 'messages.surveyDeleted' : 'messages.cannotRespondSurveyTerminated'}}"
      type="danger"
      *ngIf="!isOpen"
      class="mb-3">
    </app-alert>
  </ng-container>

  <mat-card class="p-0" *ngIf="!isDeleted">
    <div class="border-bottom">
      <h4 class="p-3 m-0">
        <span *ngIf="poll.title; else placeHolderTitle">
          {{poll.title}}
        </span>
        <ng-template #placeHolderTitle>
          <span>
            <mat-label class="text-muted">({{ 'labels.title' | translate }})</mat-label>
          </span>
        </ng-template>
      </h4>
    </div>

    <div class="p-3" *ngIf="poll.description || (((isOpen && poll.activeComment) || (isTerminated && poll.inactiveComment)) && !commentDismissed)">
      <div *ngIf="poll.description">
        <p class="m-0 white-space-pre-wrap">{{poll.description}}</p>
      </div>

      <div *ngIf="isOpen && poll.activeComment && !commentDismissed" [class.mt-3]="poll.description">
        <app-alert
          [message]="poll.activeComment"
          class="font-italic"
          (onDismiss)="commentDismissed = true">
        </app-alert>
      </div>

      <div *ngIf="isTerminated && poll.inactiveComment && !commentDismissed" [class.mt-3]="poll.description">
        <app-alert
          [message]="poll.inactiveComment"
          (onDismiss)="commentDismissed = true">
        </app-alert>
      </div>
    </div>
  </mat-card>

  <div *ngIf="isOpen || isViewingResponseOfUser; else pollNotOpen">
    <mat-card *ngFor="let question of poll.questions; let i = index" class="p-0 mt-2p1"
              [ngClass]="{'border border-danger': submitted && !isResponseQuestionValid(i) }">
      <div class="d-flex flex-row align-items-center p-3 border-bottom">
        <div class="d-flex justify-content-center align-items-center mr-3 rounded text-white question-number" *ngIf="poll.automaticNumbering">
          <span class="font-weight-bold">
            {{ i + 1 }}
          </span>
        </div>
        <div class="d-flex flex-column">
          <h5 class="m-0 text-break question-text">
            <span *ngIf="question.text; else placeholderQuestion">
              {{question.text}}
            </span>
            <ng-template #placeholderQuestion>
              <span class="text-muted">({{ 'labels.questionNumber' | translate: { QN: i + 1} }})</span>
            </ng-template>
          </h5>
          <p class="m-0 text-break additional-text" *ngIf="question.additionalText">
            {{question.additionalText}}
          </p>
        </div>
      </div>

      <ul class="list-group">
        <li *ngFor="let option of question.options; let j = index"
            class="list-group-item border-0"
            [class.p-0]="question.radioToDropdown && j !== question.options.length - 1">
          <div
            *ngIf="!question.radioToDropdown; else radioDropdown"
            [ngClass]="(question.answerType !== constants.answerTypes.text) && 'd-flex justify-content-between align-items-center'">
            <div class="text-break">
              <p class="m-0">
                <span *ngIf="option; else placeholderOption">
                  {{option}}
                </span>
                <ng-template #placeholderOption>
                  <span class="text-muted">
                    ({{ 'labels.optionNumber' | translate: { OPN: j + 1 } }})
                  </span>
                </ng-template>
              </p>
            </div>
            <!-- This margin is for separation between the answer element and the option text -->
            <div [class.ml-3]="question.answerType !== constants.answerTypes.text">
              <ng-container
                *ngTemplateOutlet="questions; context: { question: question, i: i, j: j, answerObj: response.questions[i].answers[j] }">
              </ng-container>
            </div>
          </div>

          <ng-template #radioDropdown>
            <mat-form-field appearance="none" class="dropdown-container mat-field-no-margin dropdown" *ngIf="j === question.options.length -1">
              <mat-select [value]="getSelectedRadioDropdownValue(i)"
                          [disabled]="shouldDisable" class="border p-3">
                  <mat-option *ngFor="let option of question.options; let k = index" [value]="option" (click)="onRadioButtonChanged(i, k)">
                    {{ option }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>

          <mat-form-field
            appearance="outline"
            class="w-100 mt-2 mat-field-no-margin"
            *ngIf="question.allowOtherAnswer && j === question.options.length -1 && response.questions[i].answers[j].answer">
            <textarea
              matInput
              placeholder="{{ 'placeholders.typeYourAnswer' | translate }}"
              [(ngModel)]="response.questions[i]['otherAnswer']"
              [disabled]="shouldDisable">
            </textarea>
          </mat-form-field>
        </li>
      </ul>

      <!-- Question without any options -->
      <div *ngIf="!question.options.length" [ngSwitch]="question.answerType">
        <ng-container
          *ngTemplateOutlet="questions; context: { question: question, i: i, j: null, answerObj: response.questions[i] }">
        </ng-container>
      </div>

      <ng-template #questions let-question='question' let-i="i" let-j="j" let-answerObj="answerObj">

        <div [ngSwitch]="question.answerType" [class.p-3]="!question.options.length">
          <div *ngSwitchCase="constants.answerTypes.binary">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable">
              <mat-button-toggle value="100">
                {{ 'answers.yes' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="0">
                {{ 'answers.no' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.radioButton">
            <mat-radio-group name="{{i}}" [disabled]="shouldDisable">
              <mat-radio-button
                [checked]="!!answerObj.answer"
                value=""
                (change)="onRadioButtonChanged(i, j)"
                class="mat-radio-mb-0 radio-button-no-content">
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.checkbox">
            <mat-checkbox (change)="onCheckboxChanged($event, i, j)" [checked]="answerObj.answer"
              [disabled]="shouldDisable" class="mat-checkbox-mb-0">
            </mat-checkbox>
          </div>

          <div *ngSwitchCase="constants.answerTypes.yesNoMaybe">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable">
              <mat-button-toggle value="100">
                {{ 'answers.yes' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="0">
                {{ 'answers.no' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="50">
                {{ 'answers.maybe' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.smiley">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable" id="smiley">
              <mat-button-toggle value="0">
                <i class="far fa-frown" style="color: #f44336"></i>
              </mat-button-toggle>
              <mat-button-toggle value="50">
                <i class="far fa-meh" style="color: #ffc107"></i>
              </mat-button-toggle>
              <mat-button-toggle value="100">
                <i class="far fa-smile" style="color: #4caf50"></i>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.rating">
            <app-star-rating
              [rating]="getRatingFromAnswer(answerObj.answer)"
              [starCount]="starCount"
              [color]="starColor"
              (ratingUpdated)="onRatingChanged($event, i, j)"
              [disabled]="shouldDisable"
              class="text-nowrap"
              alignment="{{ question.options.length ? 'text-right' : 'text-left' }}">
            </app-star-rating>
          </div>

          <div *ngSwitchCase="constants.answerTypes.slider" class="d-flex flex-row align-items-center">
            <mat-slider #slider [(ngModel)]="answerObj.answer" [disabled]="shouldDisable" [max]="100" [min]="0"
              [step]="1">
            </mat-slider>
            <span class="text-center ml-2 border p-2 slider-box">{{ slider.value }}</span>
          </div>

          <div *ngSwitchCase="constants.answerTypes.text">
            <mat-form-field appearance="outline" class="w-100 mat-field-no-margin">
              <textarea matInput placeholder="{{ 'placeholders.textAnswer' | translate }}"
                        [(ngModel)]="answerObj.answer"
                        [disabled]="shouldDisable">
              </textarea>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="constants.answerTypes.email">
            <mat-form-field appearance="outline" class="w-100 mat-field-no-margin">
              <mat-label>
                {{ 'labels.emailAddress' | translate }}
              </mat-label>
              <input matInput placeholder="{{ 'placeholders.email' | translate }}"
                     [(ngModel)]="answerObj.answer"
                     [disabled]="shouldDisable"
                     autocomplete="off">
            </mat-form-field>
          </div>

          <div *ngSwitchCase="constants.answerTypes.dropdown">
            <mat-form-field appearance="none" class="dropdown-container mat-field-no-margin dropdown option-dropdown">
              <mat-select
                [value]="answerObj.answer"
                (selectionChange)="dropdownOptionChanged($event, i, j)"
                [disabled]="shouldDisable"
                class="border p-3">
                  <mat-option
                    *ngFor="let option of constants.options.dropdown"
                    [value]="option">
                    {{ option / 10 }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="constants.answerTypes.value" class="value-container" [class.text-right]="question.options.length">
            <input matInput class="border px-3 text-right" [(ngModel)]="answerObj.answer" [disabled]="shouldDisable"
              [class.invalid]="answerObj.answer && !valueInputValid(answerObj.answer, question)"
              (keydown)="valueInputKeydown(answerObj.answer, $event, question)">
          </div>
        </div>

      </ng-template>

    </mat-card>

    <mat-card *ngIf="poll?.allowComments || poll?.allowNames" class="comments-card mt-2p1">
      <mat-form-field appearance="outline" class="w-100 mat-field-no-margin" *ngIf="poll.allowNames">
        <mat-label>
          {{ 'labels.name' | translate }}
        </mat-label>
        <input matInput placeholder="{{ 'placeholders.name' | translate }}" [(ngModel)]="response.name"
          [disabled]="shouldDisable">
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-100 mat-field-no-margin"
        [class.mt-1p25]="poll.allowNames"
        *ngIf="poll.allowComments">
        <mat-label>{{ 'labels.comments' | translate }}</mat-label>
        <textarea
          matInput
          placeholder="{{ 'placeholders.comment' | translate }}"
          [(ngModel)]="response.comments"
          [disabled]="shouldDisable">
        </textarea>
      </mat-form-field>
    </mat-card>

    <app-alert
      *ngIf="submitted && !valid"
      messageKey="messages.pleaseCorrect"
      type="danger"
      class="mt-2p1">
    </app-alert>

    <div class="d-flex justify-content-center my-2p1" *ngIf="!preview">
        <button mat-raised-button color="danger" class="mr-2" (click)="navigateToRespond()">
          {{ 'labels.back' | translate }}
        </button>

        <button
          mat-raised-button
          color="success"
          (click)="vote()"
          [disabled]="!dirty"
          [class.disabled]="!valid"
          *ngIf="!shouldDisable">
          {{ (hasResponded && responseValid) ? translate.instant('labels.update') : translate.instant('labels.vote') }}
        </button>
    </div>

    <h5 *ngIf="!isPro" class="text-muted text-center mt-3" style="opacity: 0.5;">
      {{'labels.poweredByYenoma' | translate }}
      {{'subscriptions.standard' | translate }}
    </h5>

  </div>

  <ng-template #pollNotOpen>
    <div class="d-flex justify-content-center mt-5" *ngIf="!preview">
      <button mat-raised-button color="danger" (click)="navigateToRespond()">
        {{ 'labels.back' | translate }}
      </button>
    </div>
  </ng-template>

</div>

<div *ngIf="passwordRequired" class="d-flex justify-content-center">
  <mat-card class="d-flex flex-column justify-content-center m-5 p-5 w-75">
    <h4 class="text-center">{{ 'messages.providePassword' | translate }}</h4>

    <mat-form-field appearance="outline" class=" mt-5">
      <mat-label>{{ 'labels.password' | translate }}</mat-label>
      <input matInput placeholder="{{ 'placeholders.surveyPassword' | translate }}" [(ngModel)]="password"
        [type]="hide ? 'password' : 'text'" (keyup.enter)="goClicked()">
      <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button mat-raised-button color="danger" class="mr-2" (click)="navigateToRespond()">
        {{ 'labels.back' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="goClicked()" [disabled]="!password">
        {{ 'labels.go' | translate }}
      </button>
    </div>
  </mat-card>
</div>
