<div class="h-100" [ngClass]="!embeddedPreview && (isMobile ? 'p-2' : 'p-5')" *ngIf="poll?.questions">

  <app-alert
    *ngIf="hasGlobalMessage('responderWarning')"
    messageKey="globalMessages.responderWarning"
    type="danger"
    class="mb-3">
  </app-alert>

  <app-alert
    *ngIf="hasGlobalMessage('responderHint')"
    messageKey="globalMessages.responderHint"
    type="info"
    class="mb-3">
  </app-alert>

  <app-alert
    [message]="getRespondedMessage()"
    type="info"
    *ngIf="hasResponded"
    class="mb-3">
  </app-alert>

  <app-alert
    messageKey="{{ poll.status === constants.statusTypes.deleted ? 'messages.pollDeleted' : 'messages.cannotRespondPollTerminated'}}"
    type="danger"
    *ngIf="!isOpen"
    class="mb-3">
  </app-alert>

  <mat-card class="p-0">
    <div class="border-bottom">
      <h4 class="p-3 m-0">{{poll.title}}</h4>
    </div>

    <div class="p-3" *ngIf="poll.description || !commentDismissed">
      <div *ngIf="poll.description">
        <p class="m-0 text-break">
          {{poll.description}}
        </p>
      </div>

      <div *ngIf="isOpen && poll.activeComment && !commentDismissed">
        <app-alert
          [message]="poll.activeComment"
          class="font-italic"
          (onDismiss)="commentDismissed = true">
        </app-alert>
      </div>

      <div *ngIf="!isOpen && poll.inactiveComment && !commentDismissed">
        <app-alert
          [message]="poll.inactiveComment"
          (onDismiss)="commentDismissed = true">
        </app-alert>
      </div>
    </div>
  </mat-card>

  <div *ngIf="isOpen">
    <mat-card *ngFor="let question of poll.questions; let i = index" class="my-5 p-0">
      <div class="d-flex flex-row align-items-center p-3 border-bottom">
        <div class="d-flex justify-content-center align-items-center mr-3 rounded text-white question-number" *ngIf="poll.automaticNumbering">
          <span class="font-weight-bold">
            {{ i + 1 }}
          </span>
        </div>
        <h5 class="m-0 text-break">
          {{question.text}}
        </h5>
      </div>

      <ul class="list-group" *ngFor="let option of question.options; let j = index">
        <li class="list-group-item border-0" [ngClass]="(question.answerType !== constants.answerTypes.text) &&
                      'd-flex justify-content-between align-items-center'">
          <div class="text-break">
            <p class="m-0">{{option}}</p>
          </div>
          <div  class="ml-3">
            <ng-container
              *ngTemplateOutlet="questions; context: { question: question, i: i, j: j, answerObj: response.questions[i].answers[j] }">
            </ng-container>
          </div>
        </li>
      </ul>

      <!-- Question without any options -->
      <div *ngIf="!question.options.length" [ngSwitch]="question.answerType">
        <ng-container
          *ngTemplateOutlet="questions; context: { question: question, i: i, j: null, answerObj: response.questions[i] }">
        </ng-container>
      </div>

      <ng-template #questions let-question='question' let-i="i" let-j="j" let-answerObj="answerObj">

        <div [ngSwitch]="question.answerType" [class.p-3]="!question.options.length">
          <div *ngSwitchCase="constants.answerTypes.binary">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable">
              <mat-button-toggle value="yes">
                {{ 'answers.yes' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="no">
                {{ 'answers.no' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.radioButton">
            <mat-radio-group name="{{i}}" [disabled]="shouldDisable">
              <mat-radio-button
                [checked]="answerObj.answer"
                value=""
                (change)="onRadioButtonChanged(i, j)"
                class="mat-radio-mb-0">
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.checkbox">
            <mat-checkbox (change)="onCheckboxChanged($event, i, j)" [checked]="answerObj.answer"
              [disabled]="shouldDisable" class="mat-checkbox-mb-0">
            </mat-checkbox>
          </div>

          <div *ngSwitchCase="constants.answerTypes.yesNoMaybe">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable">
              <mat-button-toggle value="yes">
                {{ 'answers.yes' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="no">
                {{ 'answers.no' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="maybe">
                {{ 'answers.maybe' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.smiley">
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="answerObj.answer"
              [disabled]="shouldDisable" id="smiley">
              <mat-button-toggle value="sad">
                <i class="far fa-frown" style="color: #f44336"></i>
              </mat-button-toggle>
              <mat-button-toggle value="medium">
                <i class="far fa-meh" style="color: #ffc107"></i>
              </mat-button-toggle>
              <mat-button-toggle value="happy">
                <i class="far fa-smile" style="color: #4caf50"></i>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngSwitchCase="constants.answerTypes.rating">
            <app-star-rating [rating]="answerObj.answer" [starCount]="starCount" [color]="starColor"
              (ratingUpdated)="onRatingChanged($event, i, j)" [disabled]="shouldDisable" class="text-nowrap">
            </app-star-rating>
          </div>

          <div *ngSwitchCase="constants.answerTypes.slider" class="d-flex flex-row align-items-center">
            <mat-slider #slider [(ngModel)]="answerObj.answer" [disabled]="shouldDisable" [max]="100" [min]="0"
              [step]="1" [thumbLabel]="true">
            </mat-slider>
            <span class="text-center ml-2 border p-2 slider-box">{{ slider.value }}</span>
          </div>

          <div *ngSwitchCase="constants.answerTypes.text" class="mt-3">
            <textarea matInput placeholder="{{ 'placeholders.textAnswer' | translate }}"
              (input)="onTextAnswerChanged($event, i, j)" maxlength="500" rows="4"
              [value]="answerObj.answer || (hasResponded ? translate.instant('messages.noAnswer') : '')"
              [disabled]="shouldDisable" [class.font-italic]="this.preview && !answerObj.answer">
          </textarea>
          </div>

          <div *ngSwitchCase="constants.answerTypes.dropdown">
            <mat-form-field appearance="none" class="dropdown-container mat-field-no-margin dropdown option-dropdown">
              <mat-select [value]="answerObj.answer" (selectionChange)="dropdownOptionChanged($event, i, j)"
                          [disabled]="shouldDisable" [disabled]="shouldDisable" class="border p-3">
                          <mat-option *ngFor="let option of constants.options.dropdown" [value]="option">
                            {{ option }}
                          </mat-option>
              </mat-select>
          </mat-form-field>

          </div>

          <div *ngSwitchCase="constants.answerTypes.value" class="mt-3 value-container" [class.text-right]="question.options.length">
            <input matInput class="border p-3 text-left mb-2" [(ngModel)]="answerObj.answer" [disabled]="shouldDisable"
              [class.invalid]="answerObj.answer && !valueInputValid(answerObj.answer, question)"
              (keydown)="valueInputKeydown(answerObj.answer, $event, question)">
            <mat-hint>
              {{ 'hints.enterValue' | translate: {
                                      'MAXV': question.maxValue,
                                      'MINV': question.minValue,
                                      'DP': question.decimalPlaces
                                    }
            }}
            </mat-hint>
          </div>
        </div>

      </ng-template>

    </mat-card>

    <mat-card *ngIf="poll?.allowComments || poll?.allowNames">
      <mat-form-field appearance="outline" class="w-100 mb-2" *ngIf="poll.allowNames">
        <mat-label>
          {{ 'labels.name' | translate }}
        </mat-label>
        <input matInput placeholder="{{ 'placeholders.name' | translate }}" [(ngModel)]="response.name"
          [disabled]="shouldDisable">
        <mat-hint *ngIf="!shouldDisable">
          {{ 'hints.enterName' | translate }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-2" *ngIf="poll.allowComments">
        <mat-label>{{ 'labels.comments' | translate }}</mat-label>
        <textarea matInput placeholder="{{ 'placeholders.comment' | translate }}" [(ngModel)]="response.comments"
          [disabled]="shouldDisable">
      </textarea>
        <mat-hint *ngIf="!shouldDisable">{{ 'hints.enterComments' | translate }}</mat-hint>
      </mat-form-field>
    </mat-card>

    <div class="text-center mt-5" *ngIf="!preview">
      <button class="btn btn-danger mr-2" (click)="navigateToRespond()">
        {{ 'labels.back' | translate }}
      </button>

      <button class="btn btn-success" (click)="vote()" [disabled]="!canVote || !dirty" *ngIf="!shouldDisable">
        {{ (hasResponded && responseValid)
          ? translate.instant('labels.update') :
            !(canVote) ? translate.instant('messages.selectAllOptions')  : translate.instant('labels.vote')
      }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="passwordRequired" class="d-flex justify-content-center">
  <mat-card class="d-flex flex-column justify-content-center m-5 p-5 w-75">
    <h4 class="text-center">{{ 'messages.providePassword' | translate }}</h4>

    <mat-form-field appearance="outline" class=" mt-5">
      <mat-label>{{ 'labels.password' | translate }}</mat-label>
      <input matInput placeholder="{{ 'placeholders.pollPassword' | translate }}" [(ngModel)]="password"
        [type]="hide ? 'password' : 'text'" (keyup.enter)="goClicked()">
      <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button class="btn btn-danger mr-2" (click)="navigateToRespond()">
        {{ 'labels.back' | translate }}
      </button>
      <button class="btn btn-primary" (click)="goClicked()" [disabled]="!password">
        {{ 'labels.go' | translate }}
      </button>
    </div>
  </mat-card>
</div>
