<div id="dashboard">
    <app-navbar></app-navbar>

    <ng-container *ngFor="let alert of globalAlerts">
        <app-alert
            container="true"
            *ngIf="showGlobalAlert(alert.key)"
            [messageKey]="alert.messageKey"
            [type]="alert.type"
            (onDismiss)="globalAlertDismissed(alert.key)">
        </app-alert>
    </ng-container>

    <div [class.container]="!isMobile" [class.padding-for-footer]="!isMobile">
        <router-outlet></router-outlet>
    </div>

    <app-mobile-nav *ngIf="isMobile; else footer"></app-mobile-nav>
    <ng-template #footer>
        <app-footer></app-footer>
    </ng-template>
</div>