/* You can add global styles to this file, and also import other style files */
@import './customize-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F7F7F7; }

.cursor-pointer {
    cursor: pointer !important;
}

.mat-tab-group{
    height: 100%;
}
.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.w-85 {
    width: 85% !important;
}

.w-15 {
    width: 15% !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgba(108, 117, 125, 0.50);
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.5);
}

.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.8);
}

button.mat-menu-item{ outline:none; }

.mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}

.mat-snack-bar-container {
    min-width: auto !important;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: bold;
}

#footer {
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
    .mat-form-field-infix {
        margin-right: 1.2rem;
        padding: .5em 0;
        border-top: 0;
        width: 5rem;
    }
}

// MS Edge fix to solve dropdown width issue
.dropdown-container {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            @supports (-ms-ime-align:auto) {
                display: inline;
            }
        }
    }
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#managePoll {
    .mat-expansion-panel-header {
        .mat-content {
          display: none;
        }
    }
}

#mainContainer {
    min-height: 90vh;
    margin-bottom: calc(5vh + 0.5rem + 0.8rem);
}

#footer {
    min-height: 5vh;
}

#mobileNavbar {
    min-height: 5vh;
}