/* You can add global styles to this file, and also import other style files */
@import './customize-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

html { height:100% }

body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #F7F7F7;
}

.cursor-pointer {
    cursor: pointer !important;
}

.mat-tab-group{
    height: 100%;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.w-90 {
    width: 90% !important;
}

.w-85 {
    width: 85% !important;
}

.w-45 {
    width: 45% !important;
}

.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 5% !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgba(108, 117, 125, 0.50);
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.5);
}

.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.8);
}

button.mat-menu-item{ outline:none; }

.mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}

.mat-snack-bar-container {
    min-width: auto !important;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: bold;
}

// MS Edge fix to solve dropdown width issue
.dropdown-container {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            @supports (-ms-ime-align:auto) {
                display: inline;
            }
        }
    }
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#managePoll {
    .mat-expansion-panel-header {
        .mat-content {
          display: none;
        }
    }
}

.nav-link {
    outline: none;
}

.mat-button-toggle-button {
    &:focus {
        outline: none;
        border: none;
    }
}

button {
    &:focus {
        outline: none;
        border: none;
    }
}

.mat-field-no-margin {
    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
}

.mat-row {
    &:hover {
      background-color: #e9f3ff;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .mat-table-container {
        .mat-header-row {
            display: none;
        }

        tbody {
            display: block;
            width: 100%;
        }

        .mat-table {
            .mat-row {
                display: block;
                height: 125px;
                position: relative;
                background-color: #fff;
                padding: 15px 0;
            }

            .mat-cell {
                display: block;
                width: 80%;
                min-height: auto;
                padding: 0 16px;
                &:first-child {
                    font-size: 20px;
                }
            }

            .right-side-item {
                width: auto;
                padding: 8px 0 0 !important;
                margin: 0;
                position: absolute;
                &.item1 {
                    top: 16px;
                    right: 45px;
                }
                &.item2 {
                    top: 5px;
                    right: 0;
                }
            }
        }
    }
}

#dashboard {
    padding-top: 56px;
}

#wrapper {
    min-height: 100vh;
    position: relative;
}

#content {
    max-width: 100%;
    min-height: calc(100vh - 50px);
    padding-bottom: 50px;
    /* Height of the footer element */
}

#mobileNavbar {
    height: 50px;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
    .mat-form-field-infix {
        margin-right: 1.2rem;
        padding: .5em 0;
        border-top: 0;
        width: 5rem;
    }
}


.mat-snack-bar-container {
    margin-bottom: 60px !important;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.alert {
    margin: 0;
    border-radius: 0;
    &.alert-info {
        background-color: $color-primary-light;
        color: $color-primary;
        border-color: $color-primary-light;
    }
}

.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $color-primary !important;
}

.mat-button-ripple .mat-ripple-element, .mat-button-checked.mat-accent .mat-button-background {
    background-color: rgba($color-primary-light, 0.2) !important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background-color: $color-primary-light !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $color-primary;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:$color-primary;
    background-color:$color-primary ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    color: $color-primary !important;
    background-color: $color-primary !important;
}

.mat-slider-track-fill {
    background: $color-primary!important;
}

.mat-slider-thumb {
    background: $color-primary!important;
}

.mat-slider-thumb-label {
    background-color: $color-primary !important;
    color: $color-primary-light !important;
}