<section id="settingsComponent">
    <div class="d-flex flex-column justify-content-center align-items-start" [class.p-5]="!isMobile">
        <h3 class="mb-3" *ngIf="!isMobile">
            {{ 'labels.settings' | translate }}
        </h3>
        <mat-card
            class="w-100 settings-card"
            [class.increased-height]="currentBreakpoint === 'sm'"
            *ngIf="!loading">
            <mat-tab-group>
                <mat-tab label="{{ 'labels.profile' | translate }}">
                    <app-profile [user]="user"></app-profile>
                </mat-tab>
                <mat-tab label="{{ 'labels.security' | translate }}">
                    <app-security [user]="user"></app-security>
                </mat-tab>
                <mat-tab label="{{ 'labels.locale' | translate }}">
                    <app-general [user]="user"></app-general>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</section>